{:highlights [{:id #uuid "65476c5a-b106-411c-b1d0-9e599df40547",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 783.1175537109375,
                                     :y2 581.5625,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 165.6875,
                                   :y1 541.609375,
                                   :x2 783.1175537109375,
                                   :y2 561.609375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 561.5625,
                                   :x2 682.8135375976562,
                                   :y2 581.5625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 1},
               :content {:text "In this paper, the impact of Electric Vehicle (EV) uncontrolled charging with four levels of EV penetration in overall 21 real low voltage distribution grids in two seasons are analysed."},
               :properties {:color "yellow"}}
              {:id #uuid "65476c83-050e-416e-95db-465170c979d0",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 318,
                                     :x2 782.8811645507812,
                                     :y2 701.09375,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 293.2192077636719,
                                   :y1 661.265625,
                                   :x2 782.8811645507812,
                                   :y2 681.265625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 681.09375,
                                   :x2 511.79278564453125,
                                   :y2 701.09375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 1},
               :content {:text " Three key congestion indicators, the transformer loading, line loading and node voltage as well as several other evaluation indexes are studied"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
