{:highlights [{:id #uuid "65476c5a-b106-411c-b1d0-9e599df40547",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 783.1175537109375,
                                     :y2 581.5625,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 165.6875,
                                   :y1 541.609375,
                                   :x2 783.1175537109375,
                                   :y2 561.609375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 561.5625,
                                   :x2 682.8135375976562,
                                   :y2 581.5625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 1},
               :content {:text "In this paper, the impact of Electric Vehicle (EV) uncontrolled charging with four levels of EV penetration in overall 21 real low voltage distribution grids in two seasons are analysed."},
               :properties {:color "yellow"}}
              {:id #uuid "65476c83-050e-416e-95db-465170c979d0",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 318,
                                     :x2 782.8811645507812,
                                     :y2 701.09375,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 293.2192077636719,
                                   :y1 661.265625,
                                   :x2 782.8811645507812,
                                   :y2 681.265625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 681.09375,
                                   :x2 511.79278564453125,
                                   :y2 701.09375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 1},
               :content {:text " Three key congestion indicators, the transformer loading, line loading and node voltage as well as several other evaluation indexes are studied"},
               :properties {:color "yellow"}}
              {:id #uuid "65476ca3-8052-4d30-9c51-81f3312031ea",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 334,
                                     :x2 783.1494140625,
                                     :y2 800.78125,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 386,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 402,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 418,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 515.813720703125,
                                   :y1 681.09375,
                                   :x2 782.8917236328125,
                                   :y2 701.09375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 701.0625,
                                   :x2 782.3212890625,
                                   :y2 721.0625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 721.03125,
                                   :x2 783.1494140625,
                                   :y2 741.03125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 740.859375,
                                   :x2 783.1375732421875,
                                   :y2 760.859375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 760.828125,
                                   :x2 783.135498046875,
                                   :y2 780.828125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 72.375,
                                   :y1 780.78125,
                                   :x2 218.5623779296875,
                                   :y2 800.78125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 1},
               :content {:text " The results reveal that the majority of the simulated grids had no or minor moments of mild overloading while the rest grids had critical issues. Among all the grids, suburban grids are most vulnerable to massive EV integration. Out of the evaluated grids, those who are located in Germany have the highest redundancy for high EV penetration accommodation. Overall, the impact of uncontrolled EV charging depends on the combination of EV charging demand as well as the grid inherent features."},
               :properties {:color "red"}}
              {:id #uuid "65476d78-bdc6-4a5d-928b-85adf759796d",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 510,
                                     :x2 462.3124694824219,
                                     :y2 1060.59375,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 510,
                                   :x2 0,
                                   :y2 530,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 526,
                                   :x2 0,
                                   :y2 546,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 542,
                                   :x2 0,
                                   :y2 562,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 558,
                                   :x2 0,
                                   :y2 578,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 333.2909240722656,
                                   :y1 960.859375,
                                   :x2 462.02923583984375,
                                   :y2 980.859375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 980.828125,
                                   :x2 462.3124694824219,
                                   :y2 1000.828125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 1000.78125,
                                   :x2 462.3109436035156,
                                   :y2 1020.78125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 1020.625,
                                   :x2 462.3049621582031,
                                   :y2 1040.625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 1040.59375,
                                   :x2 286.70404052734375,
                                   :y2 1060.59375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 1},
               :content {:text " The grid impact is particularly relevant because the conventional uncontrolled charging strategy, in which the EVs start to draw the rated power at the instant of connection, can result in numerous simultaneous charging events [6]"},
               :properties {:color "yellow"}}
              {:id #uuid "65476da3-82ef-47b2-933b-5ad8c6ad8512",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 897.1861572265625,
                                     :y2 1221,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 638,
                                   :x2 0,
                                   :y2 658,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 654,
                                   :x2 0,
                                   :y2 674,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 670,
                                   :x2 0,
                                   :y2 690,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 686,
                                   :x2 0,
                                   :y2 706,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 702,
                                   :x2 0,
                                   :y2 722,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 718,
                                   :x2 0,
                                   :y2 738,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 734,
                                   :x2 0,
                                   :y2 754,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 750,
                                   :x2 0,
                                   :y2 770,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 495.15625,
                                   :y1 881.265625,
                                   :x2 897.18505859375,
                                   :y2 901.265625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 495.15625,
                                   :y1 901.09375,
                                   :x2 897.18505859375,
                                   :y2 921.09375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 495.15625,
                                   :y1 921.0625,
                                   :x2 897.1861572265625,
                                   :y2 941.0625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 495.15625,
                                   :y1 941.03125,
                                   :x2 897.1849975585938,
                                   :y2 961.03125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 495.15625,
                                   :y1 960.859375,
                                   :x2 782.8973388671875,
                                   :y2 980.859375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 1120.3125,
                                   :x2 462.3139343261719,
                                   :y2 1140.3125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 1140.28125,
                                   :x2 462.310546875,
                                   :y2 1160.28125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 77.171875,
                                   :y1 1184.859375,
                                   :x2 462.2498779296875,
                                   :y2 1199.859375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 1206,
                                   :x2 331.734375,
                                   :y2 1221,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 1},
               :content {:text "can stress the facilitating distribution grid infrastructure, such that it can cause transformer overloading and lifetime The associate editor coordinating the review of this manuscript and approving it for publication was Nagesh Prabhu . reduction [2]–[4], [8], [9], line overloading [2], [4], [10], voltage drop below acceptable limits at the far-end of the feeder [2]–[4], [9], higher distribution losses [2]–[4], power mismatch between supply and demand, phase imbalance [4],[9], as well as harmonic distortion [11]."},
               :properties {:color "yellow"}}
              {:id #uuid "65476dbd-d11a-4d83-94f6-8e99e47b1cdb",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 814,
                                     :x2 897.1873779296875,
                                     :y2 1100.390625,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 814,
                                   :x2 0,
                                   :y2 834,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 830,
                                   :x2 0,
                                   :y2 850,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 846,
                                   :x2 0,
                                   :y2 866,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 871.28125,
                                   :y1 1020.625,
                                   :x2 897.1067504882812,
                                   :y2 1040.625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 495.15625,
                                   :y1 1040.59375,
                                   :x2 897.1871948242188,
                                   :y2 1060.59375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 495.15625,
                                   :y1 1060.546875,
                                   :x2 897.1873779296875,
                                   :y2 1080.546875,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 495.15625,
                                   :y1 1080.390625,
                                   :x2 556.036865234375,
                                   :y2 1100.390625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 1},
               :content {:text "The speciﬁc aim of our paper is to contribute towards this goal and provide a realistic insight based on the acquired on-ﬁeld data sets."},
               :properties {:color "red"}}
              {:id #uuid "65476f2a-97fd-4826-85ad-0ee435fa8fe4",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 350,
                                     :x2 462.3150329589844,
                                     :y2 604.65625,
                                     :width 959.9999999999999,
                                     :height 1304.8816666666664},
                          :rects ({:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 386,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 402,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 300.421875,
                                   :y1 524.90625,
                                   :x2 462.3131103515625,
                                   :y2 544.90625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 544.734375,
                                   :x2 462.3127746582031,
                                   :y2 564.734375,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 564.703125,
                                   :x2 462.3150329589844,
                                   :y2 584.703125,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}
                                  {:x1 60.28125,
                                   :y1 584.65625,
                                   :x2 105.02751159667969,
                                   :y2 604.65625,
                                   :width 959.9999999999999,
                                   :height 1304.8816666666664}),
                          :page 2},
               :content {:text "However, these papers consider standard test grids in the study and therefore, extending the insight with real distribution grid data can be useful."},
               :properties {:color "blue"}}],
 :extra {:page 1}}
