{:highlights [{:id #uuid "653a6c1a-4ca5-45b8-ad18-852bce9c6103",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 174,
                                     :x2 424.1999816894531,
                                     :y2 403.2734375,
                                     :width 864.9999999999999,
                                     :height 1119.4117647058822},
                          :rects ({:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 223.6629638671875,
                                   :y1 346.5703125,
                                   :x2 424.1917724609375,
                                   :y2 361.0703125,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 360.5625,
                                   :x2 424.1999816894531,
                                   :y2 375.0625,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 374.671875,
                                   :x2 424.1859130859375,
                                   :y2 389.171875,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 388.7734375,
                                   :x2 399.278564453125,
                                   :y2 403.2734375,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}),
                          :page 1},
               :content {:text " the main challenge for distribution companies is that voltage calculations require power ﬂow analyses (or similar) that need accurate electrical models which, for LV networks, are not readily available for most companies. "},
               :properties {:color "yellow"}}
              {:id #uuid "653a6c6b-f406-4d21-a5fb-f506c4e177e6",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 366,
                                     :x2 424.19281005859375,
                                     :y2 586.296875,
                                     :width 864.9999999999999,
                                     :height 1119.4117647058822},
                          :rects ({:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 385.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 401.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 417.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 433.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 148.17587280273438,
                                   :y1 515.4921875,
                                   :x2 424.19281005859375,
                                   :y2 529.9921875,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 529.59375,
                                   :x2 423.9827575683594,
                                   :y2 544.09375,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 543.6953125,
                                   :x2 423.71063232421875,
                                   :y2 558.1953125,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 557.6953125,
                                   :x2 424.18988037109375,
                                   :y2 572.1953125,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 571.796875,
                                   :x2 186.17605590820312,
                                   :y2 586.296875,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}),
                          :page 1},
               :content {:text "Results considering different weeks with the same and higher PV penetrations demonstrate an average error of less than 2 Volts; showing that, in the absence of LV electrical models, the methodology could be used by distribution companies for different applications"},
               :properties {:color "green"}}
              {:id #uuid "653a6c83-5a32-41e7-8ea6-6e90002cf79b",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 424.2150573730469,
                                     :y2 459.578125,
                                     :width 864.9999999999999,
                                     :height 1119.4117647058822},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 273.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 289.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 407.586181640625,
                                   :y1 388.7734375,
                                   :x2 423.7077331542969,
                                   :y2 403.2734375,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 402.875,
                                   :x2 424.2150573730469,
                                   :y2 417.375,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 416.984375,
                                   :x2 424.19921875,
                                   :y2 431.484375,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 430.9765625,
                                   :x2 424.09375,
                                   :y2 445.4765625,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 445.078125,
                                   :x2 264.41094970703125,
                                   :y2 459.578125,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}),
                          :page 1},
               :content {:text "his paper proposes a scalable electrical model-free voltage calculation methodology that uses Neural Networks to capture the underlying relationships among historical smart meter data (P, Q, and V) and the corresponding LV network."},
               :properties {:color "green"}}],
 :extra {:page 3}}
