{:highlights [{:id #uuid "653a6c1a-4ca5-45b8-ad18-852bce9c6103",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 174,
                                     :x2 424.1999816894531,
                                     :y2 403.2734375,
                                     :width 864.9999999999999,
                                     :height 1119.4117647058822},
                          :rects ({:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 223.6629638671875,
                                   :y1 346.5703125,
                                   :x2 424.1917724609375,
                                   :y2 361.0703125,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 360.5625,
                                   :x2 424.1999816894531,
                                   :y2 375.0625,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 374.671875,
                                   :x2 424.1859130859375,
                                   :y2 389.171875,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}
                                  {:x1 69.1953125,
                                   :y1 388.7734375,
                                   :x2 399.278564453125,
                                   :y2 403.2734375,
                                   :width 864.9999999999999,
                                   :height 1119.4117647058822}),
                          :page 1},
               :content {:text " the main challenge for distribution companies is that voltage calculations require power ﬂow analyses (or similar) that need accurate electrical models which, for LV networks, are not readily available for most companies. "},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
